@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 4px 9px 50px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
}

@layer components {
  .input-field {
    @apply placeholder:text-primary p-4 rounded-[10px];
  }
}
